.content-btn {
    content:url(../image/Gray-icon.png);
}

.content-btn.selected {
    content:url(../image/Yellow-icon.png);
}


div.result:first-child > a.move_up {
			display: none;
}

div.result:last-child > a.move_down {
			display: none;
}


.hide { display: none; }
