.content-btn {
    content:url(../image/Gray-icon.png);
}

.content-btn.selected {
    content:url(../image/Yellow-icon.png);
}

/*.move_up {
	a.move_down:last-child {
    color: rgba(227, 22, 30, 0.2);
  }
}

.move_down {

}*/
