<html>
  <head>
    <title>HedgeHog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  </head>
  <body>
    <form action="/proxy" method="get">
      <input type="text" name="url" id="input_url" value="http://www.agoda.com/asia/thailand/chiang_mai/panviman_chiangmai_spa_resort.html?asq=zgjveNwQ6zXKtgg1ptFAX231Ua4L8fe5pN%2BcbnhxiTEaZ7XHD1G9r9%2BUNT0v4qFfsdRhdyP4%2B2gmMphV2gLC7g%3D%3D">
      <input type="submit" id="input_button" value="+">
    </form>
    <img id="loading_data" src="/image/ajax-loader.gif" class="hide"/>

    <div id ="results" data-resource="<%= project.resource %>" data-method="<%= project.resource_method %>"></div>

    <script id="tmpl-result" type="text/html">
      <div class="result">
        {{^hotel_name}}<span class="title" name="title">{{page_title}}</span>{{/hotel_name}}
        {{#hotel_name}}<span class="hotel_name">{{hotel_name}}</span>{{/hotel_name}}
        <button class="add-note-btn">Note</button>
        <a class = "url" title="website" href="{{url}}" target="_blank"><img src="/image/www-icon.png" /></a>
        {{>content_type}}
        <a title="remove" href='#' class="remove-result-btn"><img src='/image/Delete-icon.png' /></a>
        <a href="#" class="move_up"><img src='/image/up-icon.png' /></a>
        <a href="#" class="move_down"><img src='/image/down-icon.png' /></a>
        <textarea class="note {{^note}}hide{{/note}}" >{{note}}</textarea>
      </div>
    </script>

    <script id="tmpl-content-type" type="text/html">
        <a title="review" href='#'><img class="content-btn {{#type.review}}selected{{/type.review}}" data-content-type="review"/></a>
        <a title="price"  href='#'><img class="content-btn {{#type.price}}selected{{/type.price}}"  data-content-type="price"/></a>
        <a title="picture" href='#'><img class="content-btn {{#type.picture}}selected{{/type.picture}}" data-content-type="picture"/></a>
        <a title="detail" href='#'><img class="content-btn {{#type.detail}}selected{{/type.detail}}" data-content-type="detail"/></a>
        <a title="facility" href='#'><img class="content-btn {{#type.facility}}selected{{/type.facility}}" data-content-type="facility"/></a>
        <a title="location" href='#'><img class="content-btn {{#type.location}}selected{{/type.location}}" data-content-type="location"/></a>
    </script>

    <button id="to_json" class="hide">Save</button>
    <a href="<%= project.resource %>" id='link' class="<% if !permalink %>hide<% end %>">permalink</a>

    <script>
      var HH = {};
      HH.project = <%= project.entries.to_json %>;
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascript/mustache.js"></script>

    <script src="/javascript/jquery.complete_input.js"></script>
    <script src="/javascript/jquery.ajax_form.js"></script>
    <script src="/javascript/jquery.results.js"></script>
    <script src="/javascript/jquery.orderable.js"></script>
    <script src="/javascript/url_processing.js"></script>
    <script src="/javascript/document_handlers.js"></script>
    <script src="/javascript/persistence.js"></script>

    <script src="/javascript/main.js"></script>

  </body>
</html>
